In [16]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from IPython.display import display

In [17]:
#conversion function for turning string numbers (ex: 5K) into actual numbers(ex: 5000)
def convert(value):
    if value:
        multiple = 1
        if value.endswith("K"):
            multiple = 1000
            value = value[0:len(value)-1]
        elif value.endswith("M"):
            multiple = 1000000
            value = value[0:len(value)-1]
        return int(float(value) * multiple)
    else:
        return 0

In [20]:
#read data
instaFile ="Resources/social media influencers - instagram.csv" 
instagram_df1= pd.read_csv(instaFile)
#display(instagram_df1)

instaFile2="Resources/instagram_global_top_1000.csv"
instagram_df2= pd.read_csv(instaFile2)
#display(instagram_df2)


#data cleaning 

#display(instagram_df1.isnull().sum())
#drop rows from dataframe where category is missing
#drop rows where country data is missing

instagram_df1 = instagram_df1.dropna(subset=['category_1'])
instagram_df1 = instagram_df1.dropna(subset=['Audience country(mostly)'])
# Check how many having missing are dropped
#display(instagram_df1.isnull().sum())

#drop rows with duplicate instagram instance name
instagram_df1 =instagram_df1.drop_duplicates(subset=["instagram name"],keep='last')

#remove spaces if any from attributes
instagram_df1.columns = instagram_df1.columns.str.replace(' ', '')
# replace messy string column names
instagram_df1.columns=instagram_df1.columns.str.replace('[\t|\n|\r]','',regex=True)


#Convert millions(M) and thousands(K) string data values from 3 columns to numerical form
instagram_df1["Followers"]=instagram_df1["Followers"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)
instagram_df1["Authenticengagement"]=instagram_df1["Authenticengagement"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)
instagram_df1["Engagementavg"]=instagram_df1["Engagementavg"].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)


display(instagram_df1)

#link and see the other dataset
#remove spaces if any from attributes
instagram_df2.columns = instagram_df2.columns.str.replace(' ', '')
display(instagram_df2)



instagram_df1['Audiencecountry(mostly)'].value_counts()

,Influencerinstaname,instagramname,category_1,category_2,Followers,Audiencecountry(mostly),Authenticengagement,Engagementavg
0,433,433,Sports with a ball,NaN,48500000,Spain,383100,637000
1,__youngbae__,TAEYANG,Music,NaN,12700000,Indonesia,478000,542300
2,_agentgirl_,小孝携,Shows,NaN,18800000,Russia,310800,377900
3,_imyour_joy,Joy,Lifestyle,NaN,13500000,Indonesia,1100000,1400000
6,_rl9,Robert Lewandowski,Sports with a ball,NaN,25000000,Poland,588600,749000
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,Cinema & Actors/actresses,Fashion,136100000,United States,6400000,8600000
996,zidane,zidane,Sports with a ball,NaN,31200000,Spain,546000,744100
997,zkdlin,KAI,Music,NaN,13900000,Indonesia,1300000,1600000
998,zoeisabellakravitz,Zoe Kravitz,Cinema & Actors/actresses,NaN,8199999,United States,583000,885500
999,zoesugg,Zoe Sugg,Lifestyle,Business & Careers,9400000,United Kingdom,208700,289300

,Country,Rank,Account,Title,Link,Category,Followers,AudienceCountry,Authenticengagement,Engagementavg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
995,All,996,senoritasaeva,Dina Saeva,https://www.instagram.com/senoritasaeva/,Lifestyle|Music|Modeling,7700000.0,Russia,246600.0,318200.0,2022-02-07 16:50:24.798803
996,All,997,manuelneuer,Manuel Neuer,https://www.instagram.com/manuelneuer/,Sports with a ball,11500000.0,Germany,146500.0,210200.0,2022-02-07 16:50:24.798803
997,All,998,sahilkhan,Indias Youth & Fitness IC猸锔N庐,https://www.instagram.com/sahilkhan/,Fitness|Gym,10100000.0,India,176500.0,239800.0,2022-02-07 16:50:24.798803
998,All,999,mohanshakti,Shakti Mohan,https://www.instagram.com/mohanshakti/,Art|Artists|Cinema|Actors/actresses,13700000.0,India,146400.0,175500.0,2022-02-07 16:50:24.798803
999,All,1000,eduincaz,Eduin Caz,https://www.instagram.com/eduincaz/,Lifestyle,6200000.0,Mexico,305600.0,391900.0,2022-02-07 16:50:24.798803

United States           246
India                   140
Brazil                  138
Indonesia                99
Mexico                   36
Spain                    34
Russia                   23
Argentina                21
United Kingdom           20
Iran                     19
Turkey                   16
Colombia                 12
Italy                    12
South Korea               8
Philippines               7
Thailand                  6
Iraq                      5
France                    5
Egypt                     5
Germany                   3
Morocco                   3
Nigeria                   2
Japan                     2
Poland                    1
Chile                     1
Albania                   1
United Arab Emirates      1
Algeria                   1
Ukraine                   1
China                     1
Syria                     1
Serbia                    1
Name: Audiencecountry(mostly), dtype: int64

In [21]:
#read in youtube data
youtubeFile ="Resources/social media influencers - youtube.csv" 
youtube_df= pd.read_csv(youtubeFile)
youtube_df


youtubeFile_2 ="Resources/Top YouTube Channels Data.csv"
youtubeFile_2=pd.read_csv(youtubeFile_2)
youtubeFile_2

,rank,youtuber,subscribers,video views,video count,category,started
0,1,T-Series,213000000,"188,073,919,029",16708.0,Music,2006
1,2,YouTube Movies,150000000,"167,122,746,349",NaN,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,133000000,"126,822,520,940",751.0,Education,2006
3,4,SET India,131000000,"101,541,977,714",78334.0,Shows,2006
4,5,Music,116000000,"78,437,871,689",NaN,Music,2013
...,...,...,...,...,...,...,...
95,96,Markiplier,32600000,"18,011,837,263",5129.0,Gaming,2012
96,97,Like Nastya ESP,32600000,"15,144,858,210",584.0,Entertainment,2017
97,98,Ryan's World,32400000,"51,312,603,726",2155.0,Entertainment,2015
98,99,ABP News,32300000,"9,850,740,503",209351.0,People & Blogs,2012
99,100,Desi Music Factory,32200000,"9,115,577,588",122.0,Music,2014

In [11]:
#find duplicate youtubers
yt_unique = len(youtube_df["youtuber name"].unique())
youtube_df.loc[youtube_df.duplicated(keep = False),:]

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments
549,ETV Jabardasth,ETV Jabardasth,NaN,12.5M,India,192.6K,2.7K,44
550,ETV Jabardasth,ETV Jabardasth,NaN,12.5M,India,192.6K,2.7K,44

In [24]:
#data cleaning for youtube data
clean_yt = youtube_df.drop(549)
clean_yt["Subscribers"] = [convert(value) for value in clean_yt["Subscribers"]]
clean_yt["avg views"] = [convert(value) for value in clean_yt["avg views"]]
clean_yt["avg likes"] = clean_yt["avg likes"].fillna(0)
clean_yt["avg likes"] = [convert(value) for value in clean_yt["avg likes"]]
clean_yt["avg comments"] = clean_yt["avg comments"].fillna(0)
clean_yt["avg comments"] = [convert(value) for value in clean_yt["avg comments"]]
clean_yt.sort_values("Subscribers", ascending = False).reset_index()

clean_yt = clean_yt.dropna(subset = ["Category"])
clean_yt.reset_index()

#drop rows from Audience Country that are empty
clean_yt = clean_yt.dropna(subset = ["Audience Country"])
clean_yt.reset_index()

#Sum the column values from avg_views,avg_likes,avg_comments to a new column "Authenticengagement" 
clean_yt['Authenticengagement'] = clean_yt['avg views'] + clean_yt['avg likes'] +clean_yt['avg comments']
display(clean_yt)

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments,Authenticengagement
0,tseries,T-Series,Music & Dance,212100000,India,323700,9800,290,333790
3,PewDiePie,PewDiePie,Animation,111400000,United States,1400000,80800,4600,1485400
4,MrBeast6000,MrBeast,Video games,92500000,United States,30600000,1700000,67700,32367700
7,WWEFanNation,WWE,Video games,86900000,United States,76600,2800,163,79563
8,zeemusiccompany,Zee Music Company,Music & Dance,82700000,India,108700,4200,155,113055
...,...,...,...,...,...,...,...,...,...
995,FutPar贸dias,FutPar贸dias,Music & Dance,9200000,Brazil,1400000,110100,2500,1512600
996,EL GATO,EL GATO,Toys,9200000,Brazil,243800,30700,636,275136
997,CinemaSins,CinemaSins,Movies,9200000,United States,296000,10200,874,307074
998,CricketICC,ICC,Sports,9200000,India,15200,854,58,16112
999,BRKsEDU,BRKsEDU,Animation,9200000,Brazil,112300,9800,246,122346

In [25]:
''' 3.Can we predict the relationship between category and engagement level (Instagram, Youtube)?
- Does higher engagement(followers) lead to attract category.
- Do we have max subscriber because the content has been shared/viewed/liked/ maximum times? '''

display(clean_yt)
display(youtubeFile_2)

,youtuber name,channel name,Category,Subscribers,Audience Country,avg views,avg likes,avg comments,Authenticengagement
0,tseries,T-Series,Music & Dance,212100000,India,323700,9800,290,333790
3,PewDiePie,PewDiePie,Animation,111400000,United States,1400000,80800,4600,1485400
4,MrBeast6000,MrBeast,Video games,92500000,United States,30600000,1700000,67700,32367700
7,WWEFanNation,WWE,Video games,86900000,United States,76600,2800,163,79563
8,zeemusiccompany,Zee Music Company,Music & Dance,82700000,India,108700,4200,155,113055
...,...,...,...,...,...,...,...,...,...
995,FutPar贸dias,FutPar贸dias,Music & Dance,9200000,Brazil,1400000,110100,2500,1512600
996,EL GATO,EL GATO,Toys,9200000,Brazil,243800,30700,636,275136
997,CinemaSins,CinemaSins,Movies,9200000,United States,296000,10200,874,307074
998,CricketICC,ICC,Sports,9200000,India,15200,854,58,16112
999,BRKsEDU,BRKsEDU,Animation,9200000,Brazil,112300,9800,246,122346

,rank,youtuber,subscribers,video views,video count,category,started
0,1,T-Series,213000000,"188,073,919,029",16708.0,Music,2006
1,2,YouTube Movies,150000000,"167,122,746,349",NaN,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,133000000,"126,822,520,940",751.0,Education,2006
3,4,SET India,131000000,"101,541,977,714",78334.0,Shows,2006
4,5,Music,116000000,"78,437,871,689",NaN,Music,2013
...,...,...,...,...,...,...,...
95,96,Markiplier,32600000,"18,011,837,263",5129.0,Gaming,2012
96,97,Like Nastya ESP,32600000,"15,144,858,210",584.0,Entertainment,2017
97,98,Ryan's World,32400000,"51,312,603,726",2155.0,Entertainment,2015
98,99,ABP News,32300000,"9,850,740,503",209351.0,People & Blogs,2012
99,100,Desi Music Factory,32200000,"9,115,577,588",122.0,Music,2014

In [23]:
clean_yt['Audience Country'].value_counts()

United States     242
India             110
Brazil             74
Mexico             44
Indonesia          33
Russia             30
Philippines        12
Thailand           10
Colombia            8
Argentina           7
Spain               5
Saudi Arabia        4
Iraq                4
United Kingdom      4
Turkey              3
Japan               2
Algeria             2
France              2
Bangladesh          2
Peru                2
Egypt               2
Pakistan            2
Morocco             2
Poland              1
Ecuador             1
Cyprus              1
Name: Audience Country, dtype: int64